{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <div class="form-group">

            <input autocomplete="off" class="form-control" name="username" autofocus placeholder="Enter your Username HERE" type="text">
        </div>

        <div class="form-group">

            <input autocomplete="on" class="form-control" name="email" autofocus placeholder="Insert password recovery email here">
        </div>

        <div class="form-group">

            <input autocomplete="off" class="form-control" name="email-confirmation" autofocus placeholder="Confirm your email">
        </div>

        <div class="form-group">

            <input class="form-control" name="password" placeholder="Password (Must contain one upper letter, one number and one special character)" type="password">
        </div>

        <div class="form-group">

            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}